.env
*.log
/node_modules
   # Environment variables
   v2/.env
   v1/.env
   .env
   
   # Logs
   v2/logs/
   v1/logs/
   logs/
   
   # User data
   v2/user_data/
   v1/user_data/
   user_data/
   
   # Other files/directories to ignore
   pictures/
   photos/
   *.DS_Store
